:javascript
  window.presentation  = #{@presentation_json.html_safe};
  window.keyframeIndex = #{@keyframe_index.to_json.html_safe};

#page-container.render
  .header
    %h1
      %span.title
    %p
      %span.relation
  .chart