:javascript
  window.presentation  = #{raw @presentation_json};
  window.keyframeIndex = #{@keyframe_index.to_json};

#page-container.render
  .header
    %h1
      %span.title
    %p
      %span.relation
  .chart