$header-color: #444
$navigation-item-margin: 4px
$navigation-item-height: $editor-header-height - $navigation-item-margin

.editor header
  @extend %pie-clearfix
  position: relative
  min-height: $editor-header-height
  font-weight: 400
  color: $header-color

  a
    text-decoration: none

  // Logos
  // -----

  h1, h2
    height: $editor-header-height
    +background-size(auto 70%)
    background-repeat: no-repeat
    +hide-text

  h1
    float: left
    margin-left: 20px
    width: 150px
    +svg-bg-with-fallback('ged-logo')
    background-position: left center

  h2
    float: right
    margin-right: 20px
    width: 160px
    +svg-bg-with-fallback('stiftung-logo')
    background-position: right center

// Main navigation
// ---------------

.editor .navigation
  float: left
  padding-left: 25px

  li
    margin: $navigation-item-margin $navigation-item-margin 0 0
    float: left

  a
    display: block
    +box-sizing(border-box)
    border-radius: 5px 5px 0 0
    height: $navigation-item-height
    padding: 0 10px
    background-color: #e6e6e6
    font-size: 14px
    line-height: $navigation-item-height + 1px
    text-transform: uppercase
    font-weight: 300
    color: black

  .prefixed .main
    color: #003082
    font-weight: 400

  // The selected navigation item
  .selected
    a
      background-color: lighten($dark-background-gradient-color, 7%)
    .main, .prefix
      color: white
      font-weight: 300

// Language switch
// ---------------

.language-switch
  float: right
  margin-right: 20px
  font-size: 15px

  li
    float: left
    line-height: $editor-header-height

    &:before
      content: '|'
      color: $header-color

    &:first-child:before
      content: none

  strong, a
    padding: 0 5px

  strong
    font-weight: 700

  a:link, a:visited
    color: $header-color

// Introduction bubble / dialog
// ----------------------------

.open-introduction
  float: left
  margin-left: 10px
  margin-top: 8px
  border-radius: 50%
  width: 18px
  height: 18px
  background-color: #0065b0
  font-family: $monospace-font-stack
  font-size: 14px
  line-height: 22px
  text-align: center

  a:link, a:visited
    color: white

// Introduction dialog

.editor-introduction

  .window
    $introduction-width: 780px
    margin-left: -($introduction-width / 2)
    width: $introduction-width

  iframe
    float: right
    border: 0
    width: 72%
    height: 300px

  .welcome
    float: left
    width: 26%

    p
      margin: 10px 0

  .buttons a
    @extend %blue-button
    display: block
    margin: 5px
    padding: 6px 10px 6px 0
    font-size: 16px

    &:before
      display: inline-block
      width: 30px
      text-align: center

    //&:hover:before
    //  background-color: red

  a.tutorial
    @extend %fonticon-play

  a.faq:before
    content: '?'
    font-family: $monospace-font-stack
    font-size: 18px
    line-height: 16px

  a.feedback
    @extend %fonticon-feedback

  a.start
    @extend %red-button

    &:before
      content: '\203a'
      font-size: 22px
      line-height: 16px
