$modal-dialog-gray: #777
$modal-dialog-width: 470px
$modal-dialog-padding: 15px

.modal-dialog
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(black, 0.5)
  z-index: 300

  .ie7 &,
  .ie8 &
    background-color: transparent
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)

  .window
    @extend %border-box
    position: absolute
    left: 0
    top: 0
    box-shadow: 1px 1px 3px #707070
    border: 1px solid #f0f0f0
    border-radius: 8px
    padding: $modal-dialog-padding
    width: $modal-dialog-width
    // height is set by individual dialogs
    background-color: #fdfdfd
    font-size: 13px
    line-height: 1.3
    font-weight: 300

    &:focus
      outline: none

  // Main close button in the top right corner

  .close
    @extend %blue-button
    $close-button-diameter: 20px
    position: absolute
    top: -$close-button-diameter / 2
    right: -$close-button-diameter / 2
    display: block
    box-shadow: 0 0 2px white
    border-radius: 50%
    padding: 0
    width: $close-button-diameter
    height: $close-button-diameter
    font-weight: 400
    font-size: $close-button-diameter * 0.8
    line-height: $close-button-diameter * 0.8
    text-decoration: none
    text-align: center

  // Content sections

  .content-section
    @extend %pie-clearfix
    position: relative
    margin: 10px 0
    border-bottom: 1px solid #ddd
    padding-bottom: 10px

  .content-section:last-child
    margin-bottom: 0
    border-bottom: 0
    padding-bottom: 0

  // Headings

  h2
    margin-bottom: 20px
    border-bottom: 1px solid #555
    padding-bottom: 5px
    font-size: 18px
    font-weight: 300
    color: black
    text-transform: uppercase

  h3
    padding-bottom: 10px
    font-size: 14px
    font-weight: 700
    color: black

  // Lists

  .list
    margin: 10px 0 10px 20px
    list-style-type: disc

  // Forms and input fields

  input[type='text'], textarea
    @extend %border-box
    border: 1px solid silver
    padding: 2px
    font-size: 14px
    line-height: 1.2

  .input-field
    width: 100%

  // Buttons

  .button
    @extend %blue-button
    padding: 4px 8px
    font-size: 14px

  .button.right
    float: right

  .close-button:before
    padding-right: 4px
    content: '\00D7'
    font-weight: 700

  .okay-button, .cancel-button
    min-width: 85px
    text-align: center
