.player
  $nav-width: 25px
  $footer-height: 20px
  $horizontal-padding: 8px
  $separator-style: 1px solid silver

  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: white

  // Header
  // ------

  .header
    position: absolute
    z-index: 1
    padding: 5px $horizontal-padding
    max-width: 30%
    line-height: 1.3

    font-size: 10px
    @media screen and (min-width: 520px)
      font-size: 12px
    @media screen and (min-width: 800px)
      font-size: 14px
    @media screen and (min-width: 1000px)
      font-size: 16px

    .title, .relation
      background-color: white

    .title
      font-size: 1.4em
      font-weight: 600

    .relation
      color: #999

      // Only show title on small viewports
      @media screen and (max-width: 300px)
        display: none

  // Current keyframe year

  .current-year
    position: absolute
    left: 0
    bottom: $footer-height
    padding-bottom: 5px
    width: 100%
    text-align: center
    font-size: 20px
    line-height: 1
    font-weight: 600
    letter-spacing: 2px
    color: #d5d5d5

    @media screen and (min-height: 350px)
      font-size: 25px
    @media screen and (min-height: 500px)
      font-size: 30px
    @media screen and (min-height: 600px)
      font-size: 35px
    @media screen and (min-height: 700px)
      font-size: 42px
    @media screen and (min-height: 800px)
      font-size: 45px

  // Chart
  // -----

  .chart
    position: absolute
    top: 0
    bottom: 40px
    left: 0
    width: 100%

    @media screen and (min-height: 500px)
      bottom: 45px
    @media screen and (min-height: 700px)
      bottom: 50px

    .ie7 &,
    .ie8 &
      height: 90%

  // Static chart (bitmap images only)
  // ---------------------------------

  .static-chart
    display: block
    margin: auto
    vertical-align: middle
    position: absolute
    left: 50%
    top: 40%

    $x-factor: 0.5
    $y-factor: 0.35

    &.large
      $width: 800px
      $height: $width * 3/4
      margin-left: -$width * $x-factor
      margin-top: -$height * $y-factor

    &.medium
      $width: 520px
      $height: $width * 3/4
      margin-left: -$width * $x-factor
      margin-top: -$height * $y-factor

    &.small
      $width: 300px
      $height: $width * 3/4
      margin-left: -$width * $x-factor
      margin-top: -$height * $y-factor

  // Legends
  // ------

  .legend
    bottom: 30px

  // Footer
  // ------

  $button-highlight-color: #666

  .footer
    @extend %dark-background-gradient
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: $footer-height
    font-size: 12px
    line-height: $footer-height
    font-weight: 300
    color: white

    a
      color: white
      text-decoration: none

  // Controls on the left

  .footer-left
    position: absolute
    left: 0
    padding-left: 2 * ($nav-width + 1px)

  .nav-play
    font-size: 0
    width: $nav-width * 2
    height: $footer-height
    position: absolute
    left: 0
    display: block
    border-right: $separator-style

    &:hover
      background-color: $button-highlight-color

    &:before
      position: absolute
      content: ''
      top: 0
      left: 0
      width: $nav-width * 2
      height: $footer-height
      background-image: image-url('play-button.png')
      background-repeat: no-repeat
      background-position: center
      +background-size($footer-height $footer-height)

    &.stop:before
      background-image: image-url('stop-button.png')
      background-repeat: no-repeat
      background-position: center
      +background-size($footer-height $footer-height)

  .nav-left, .nav-right
    position: absolute
    display: block
    border-right: $separator-style
    width: $nav-width
    height: $footer-height

    font-size: 18px
    line-height: 16px
    font-weight: 700
    text-align: center

    &.enabled:hover
      background-color: $button-highlight-color

    &.disabled
      color: silver

    &.disabled:hover
      cursor: default

  .nav-left
    left: 0

  .nav-right
    left: $nav-width + 1px

  // Navigation tooltip

  table.nav
    height: 40px

  td
    vertical-align: top

  .destination
    float: left
    padding-right: $horizontal-padding
    color: #8FD3F2
    text-transform: uppercase

  .thumbnail
    vertical-align: -28px
    padding-right: 10px

    img
      width: 40px
      height: 40px

  .maintitle
    font-weight: 400
    white-space: nowrap

  .subtitle
    display: block
    margin-top: 15px
    font-size: 12px
    white-space: nowrap

  // Current keyframe number

  .keyframe-number
    float: left
    padding: 0 $horizontal-padding
    white-space: nowrap
    color: silver

  // Dot navigation

  .dots
    position: relative
    float: left
    padding-right: $horizontal-padding

    circle
      cursor: pointer

    @media screen and (max-width: 300px)
      display: none

  // Keyframe title

  .footer .title
    float: left
    padding-left: $horizontal-padding
    border-left: $separator-style
    height: $footer-height
    color: white
    text-shadow: 1px 1px 1px #333

    @media screen and (max-width: 300px)
      display: none

  // Controls on the right

  .footer-right
    position: absolute
    right: 0

    a
      position: relative
      float: right
      border-left: $separator-style
      width: 20px
      height: $footer-height

      &:hover
        background-color: $button-highlight-color

    .fallback
      @extend %off-left

  .toggle-legend
    text-align: center

    &:after
      content: 'i'
      font-family: Consolas, Georgia, 'Times New Roman', serif
      font-size: 125%
      line-height: $footer-height * 1.2

  .toggle-fullscreen
    background-image: image-url('fullscreen.png')
    +background-size(20px $footer-height)

    .ie7 &,
    .ie8 &
      background: none
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/fullscreen.png', sizingMethod='scale')

  // Boost specificity
  a.logo
    width: 120px
    +svg-bg-with-fallback('ged-logo-white')
    +background-size(auto 75%)
    background-repeat: no-repeat
    background-position: center

  .logo-fallback
    +hide-text

  // Tooltips

  .tooltip
    position: absolute
    bottom: 30px
    left: 0
    z-index: 200
    display: none
    +bg-gradient(#666, #333)
    text-align: left
    font-weight: 300
    font-size: 13px
    line-height: 1
    padding: 5px
    white-space: nowrap

    // Tooltip arrow
    &:after
      content: ''
      position: absolute
      top: 100%
      left: 50%
      height: 0
      width: 0
      background: transparent
      margin-left: -10px
      border-style: solid
      border-color: #333 transparent
      border-width: 8px 10px 0 10px

  // Tooltip positioning

  .nav-left .tooltip
    left: 3px
    &:after
      left: 15px

  .nav-right .tooltip
    left: 2px
    &:after
      left: 15px

  .toggle-legend, .toggle-fullscreen
    .tooltip
      left: -20px

  .logo .tooltip
    left: auto
    right: 3px
    text-transform: none

  .dots .tooltip
    bottom: 35px
