html, body
  height: 100%
  overflow: hidden
  color: black
  background-color: white

// Compass library
@import compass
@import compass/reset
@import compass/css3/user-interface

// Base modules
@import variables
@import mixins
@import typography
@import icons
@import buttons
@import modal_dialog

// Application modules
@import legend
@import contextbox

@import editor
@import player

@import bubbles
@import loading_indicator

@import presentation/presentation
@import render

@import version_history

.diff
  //overflow: auto
.diff ul
  background: #fff
  //overflow: auto
  font-size: 13px
  line-height: 1.3
  list-style: none
  margin: 0
  padding: 0
  //display: table
  //width: 100%
.diff del, .diff ins
  display: block
  text-decoration: none
.diff li
  padding: 0
  //display: table-row
  margin: 0
  //height: 1em
.diff li.ins
  background: #dfd
  color: #080
.diff li.del
  background: #fee
  color: #b00
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span
  white-space: pre-wrap
  font-family: monospace
.diff del strong
  font-weight: normal
  background: #fcc
.diff ins strong
  font-weight: normal
  background: #9f9
.diff li.diff-comment
  display: none
.diff li.diff-block-info
  background: none repeat scroll 0 0 gray
