!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title GED Viz
    = stylesheet_link_tag 'application', media: 'all'

    %link{rel: 'shortcut icon', type: 'image/png', href: image_path('favicons/favicon32.png')}

    %meta(property='og:title' content='GED Viz – Visualize economic relations')
    %meta(property='og:site_name' content='GED Viz – Visualize economic relations')
    %meta(property='og:url' content='http://viz.ged-project.de/')
    %meta{property: 'og:image', content: image_path('ged-facebook-thumb.jpg')}
    - description = 'Create interactive visualizations of economic relations between countries and entities.'
    %meta(property='og:description' content=description)
    %meta(name='description' content=description)

    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black')
    %link{rel: 'apple-touch-icon', sizes: '57x57', href: image_path('favicons/touch-icon57.png')}
    %link{rel: 'apple-touch-icon', sizes: '72x72', href: image_path('favicons/touch-icon72.png')}
    %link{rel: 'apple-touch-icon', sizes: '114x114', href: image_path('favicons/touch-icon114.png')}
    %link{rel: 'apple-touch-icon', sizes: '144x144', href: image_path('favicons/touch-icon144.png')}

    %meta(name='viewport' content='width=device-width, initial-scale=1.0')

    = csrf_meta_tags

    /[if lt IE 9]
      %script
        document.documentElement.className += ' old-ie';
        'abbr article aside audio canvas details figcaption figure footer header main mark meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})

  %body

    %noscript
      %h1 Bertelsmann Stiftung Global Economic Dynamics (GED) Visualizer

    = yield

    = render partial: 'shared/javascripts'
